html {
  font-family: 'Open Sans', sans-serif;
}

input, button {
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}